/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
  *= require_self
  *= require_tree .
 */
  @import "clean-blog.min.css";
  @import "bootstrap-sprockets";
  @import "bootstrap";
  @import "font-awesome-sprockets";
  @import "font-awesome";


#videoUrl {
  border: 1px solid #dadada;
  padding-top: 1px;
  padding-bottom: 1px;
  width: 50%;
  height: 40px;
  margin-bottom: 25px;
  border-color: green;
  font-size: 16px;
}

.btn-download,.btn-load {
  width: 12%;
  height: 46px;
}

.loder-hide {
  display: none;
}
.video-form {
  margin-top: 13%;
  margin-left: 17%;
}

.loader {
  border: 9px solid #f3f3f3;
  margin: 0 auto;
  margin-top: 30px;
  border-top: 9px solid darkslategray;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
